@import "abstract/abstract";
@import "components/nav";
@import "components/footer";
@import "components/main";

body {
    font-family: $par;
    display: block; 

    p {
        line-height: 1.5;
    }

    img {
        max-width: 100%;
    }
    
}

// LAYOUT
@include desktop {

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    header {
        grid-column: 1 / 13;
        grid-row: 1;
    }

    main {
        grid-column: 1 / 13 ;
        grid-row: 2;
    }

    footer {
        grid-column: 1 / 13;
        grid-row: 3;
    }
}
}


