// VARIABLES

$title: 'Roboto Slab', serif;
$par: 'Roboto', sans-serif;

$dblue: #1D3557;
$red: #E63946;
$lblue: #A8DADC;
$blue: #457B9D;
$white: #F1FAEE;

// $dblue: #3A0CA3;
// $red: #F72585;
// $lblue: #4CC9F0;
// $blue: #4361EE;
// $white: #F1FAEE;
